/* === IMPORTANTE ===================================================
   No modificar estos estilos, ya que son imprescindibles para
   que la página se vea correctamente.
   ================================================================== */

/*-- Básico ----------------------------------------------------------*/
ul, ul li { margin: 0; padding: 0; list-style: none; }
h1, h2, h3, p, form { margin: 0; padding: 0; }
.clear { clear: both; }
img { border: none; }
*{box-sizing: content-box;}
/*-- Layout ----------------------------------------------------------*/
.contenedor {
  width: 90%;
  max-width: 900px;
  width: expression(document.body.clientWidth > 901? "900px": "auto");
  margin: 0 auto;
  
}

.cabecera, .menu, .lateral, .contenido, .contenido .principal, .contenido .secundario, .pie {
  border: 2px solid #777;
}

.cabecera { clear: both; }
.menu { clear: both; }
.lateral { float: left; width: 20%; }
.contenido { float: right; width: 78%; margin-left: 2%}
.contenido .principal { float: left; width: 78%; }
.contenido .secundario { float: right; width: 20%; }
.pie { clear: both; }

/*-- Cabecera --------------------------------------------------------*/
.cabecera .logo { float: left; }
.cabecera .buscador { float: right; }

/*-- Menu ------------------------------------------------------------*/
.menu ul.menu_principal li { display: inline; float: left; }

/*-- Sección Principal -----------------------------------------------*/
.contenido .principal .articulo img { width: 100px; float: left; }

/*-- Pie de página ---------------------------------------------------*/
.pie .enlaces   { float: left; }
.pie .copyright { float: right; }

/* === IMPORTANTE ===================================================
   A partir de aquí, se pueden añadir todos los estilos propios que 
   sean necesarios.
   ================================================================== */

/*Eliminamos el borde*/
.cabecera, .menu, .lateral, .contenido, .contenido .principal, .contenido .secundario, .pie {
  border: none;
}

.cabecera {padding: 1em;}
.menu {
  padding: 0.5em; margin-bottom:0.5em;
  border-bottom: 1px solid #004C99;
  background: #004C99 url('../img/fondo_menu.gif') repeat-x 0 0; 
}
.noticias, .publicidad, .principal, .secundario {padding: 0.5em}
.pie {
  padding-top: 0.5em; 
  padding-bottom: :0.5em; 
  margin-top:1em;
  border-top: 1px solid #C5C5C5;
  border-bottom: 1px solid #C5C5C5;}

/* .pie {padding: 0.5em 0;}*/
.articulo{margin-bottom: 1em}
.articulo img{margin:0.5em}
.publicidad{
  margin-top:1em;
  border: 1px dashed #C60;
  background-color: #FFF6CD;
}

.noticias{
  border: 1px solid #C5C5C5;
}
.contenido .secundario{
  border: 1px solid #C60;
}

/*Fondos*/

.noticias, .pie{
  background-color: #F8F8F8;
}

.secundario h2{
  background-color: #DB905C;
  padding: .2em
}

.cabecera h1{
  background: #FFF url('../img/logo.gif') no-repeat 0 -10px;
}
.cabecera h1 span{
  visibility: hidden;
}

/*html{
  background: #FFF url('../img/pattern.gif') repeat 0 0;
}*/

.contact{
  background: transparent url('../img/email.gif') no-repeat 0 1px;
  padding-left: 20px;
}