/*Aplicamos estilos a nuestra nueva página*/
body{
    padding-top:;
}

.main .well{
    text-align: center;
}

.footer{
 background-color: #222;
 color: white;
 padding: 20px 0;
 margin-top: 20px;
}

.main .features .glyphicon{
    font-size:3em;
    color:#CCC;
}

.features [class*="col-"]{
    margin-bottom: 25px;
}

@media (min-width:768px){
    .main .well{
        text-align: left;
    }
    .footer [class*="col-sm"]{
        min-height: 150px;
    }

}













/*añadido para poder navegar por los ejercicios*/
.volver{
    position: fixed;
    bottom:0;
}

